*.class
.idea
.bsp
target/
project/
akka-diagnostics/
logs
lightbend.sbt
backend/images/2025-Chevrolet-Corvette-ZR1-001-1440sw(copy).jpg
backend/images/2025-Chevrolet-Corvette-ZR1-001-1440sw(copy 2).jpg