/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --akka-gray-dark: #313131;
  --akka-gray-900: #1A1A1A;
  --akka-gray-800: #2F2F2F;
  --akka-gray-700: #434343;
  --akka-gray-600: #606060;
  --akka-gray-500: #808080;
  --akka-gray-400: #ADADAD;
  --akka-gray-300: #C9C9C9;
  --akka-gray-200: #E5E5E5;
  --akka-gray-100: #F5F5F5;
  --akka-gray-50: #FAFAFA;
  --akka-blue: #00D8DD;
  --akka-green: #72D35B;
  --akka-yellow: #FFCE4A;
  --akka-orange: #FF5400;
  --akka-pink: #FB4852;
  --akka-blue-dkr: #02A4A7;
  --akka-green-dkr: #5AA547;
  --akka-yellow-dkr: #F5B60B;
  --akka-orange-dkr: #D84800;
  --akka-heavy-black: #0d0d0d;
  --akka-medium-black: #141414;
  --akka-soft-black: #1a1a1a;
  --akka-soft-medium-black: #242424;
  --akka-medium-gray: #4e4e4e;
  --akka-soft-gray: #a6a6a6;
  --akka-soft-white: #f1f1f1;
  --akka-soft-medium-white: #E5E5E5;
  --ifm-font-family-base: 'Instrument Sans', sans-serif;
  --ifm-font-family-monospace: 'Roboto Mono', monospace;
  --ifm-code-font-size: 95%;

  /* primary */
  --ifm-color-primary: #f5b60b;
  --ifm-color-primary-dark: #dda409;
  --ifm-color-primary-darker: #d19b09;
  --ifm-color-primary-darkest: #ac8007;
  --ifm-color-primary-light: #f6bd24;
  --ifm-color-primary-lighter: #f7c130;
  --ifm-color-primary-lightest: #f8cc55;
  /* links */
  --ifm-link-color: var(--akka-blue-dkr);
  --ifm-link-hover-color: var(--akka-blue-dkr);
  --ifm-pagination-nav-color-hover: var(--akka-blue-dkr);
  /* background colors */
  --ifm-background-color: #ffffff;
  --ifm-navbar-background-color: #ffffff;
  --ifm-background-surface-color: var(--akka-soft-white);
  --ifm-card-background-color: var(--akka-soft-white);
  /* tables */
  --ifm-table-border-color: #ffffff;
  --ifm-table-background: var(--akka-soft-white);
  --ifm-table-stripe-background: var(--akka-soft-medium-white);
  --ifm-table-head-background: var(--akka-soft-medium-black);
  --ifm-table-head-color: var(--akka-yellow);
  --ifm-table-head-font-weight: 700;
  /* code */
  --ifm-code-background: var(--akka-soft-white);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark']:root {
  /* primary */
  --ifm-color-primary: #ffce4a;
  --ifm-color-primary-dark: #ffc529;
  --ifm-color-primary-darker: #ffc119;
  --ifm-color-primary-darkest: #e6a800;
  --ifm-color-primary-light: #ffd76b;
  --ifm-color-primary-lighter: #ffdb7b;
  --ifm-color-primary-lightest: #ffe9ad;
  /* links */
  --ifm-link-color: var(--akka-blue);
  --ifm-link-hover-color: var(--akka-blue);
  --ifm-pagination-nav-color-hover: var(--akka-blue);
  /* background colors */
  --ifm-background-color: #000000;
  --ifm-navbar-background-color: #000000;
  --ifm-background-surface-color: var(--akka-soft-black);
  --ifm-card-background-color: var(--akka-soft-black);
  /* tables */
  --ifm-table-border-color: #000000;
  --ifm-table-background: var(--akka-soft-black);
  --ifm-table-stripe-background: var(--akka-soft-medium-black);
  --ifm-table-head-background: var(--akka-yellow);
  --ifm-table-head-color: var(--akka-soft-black);
  --ifm-table-head-font-weight: 700;
  /* code */
  --ifm-code-background: var(--akka-soft-medium-black);
}


.navbar__title {
  font-size: 1.5rem;
}
code {
  border-color: var(--akka-soft-medium-white);
}

[data-theme='dark'] code {
  border-color: var(--akka-medium-gray);
}

table {
  border-radius: 10px;
}

h1 {
  color: var(--akka-yellow-dkr);
}

[data-theme='dark'] h1 {
  color: var(--akka-yellow);
}

.footer--dark {
  background-color: var(--akka-soft-black);
}

.footer__copyright {
  margin-top: 2rem;
  font-size: .875rem;
}

[data-theme='dark'] .footer--dark {
  border-top: 0px solid var(--ifm-toc-border-color);
}

.footer a {
  cursor: pointer;
}

.navbar {
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

[data-theme='dark'] .navbar {
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

::marker {
  color: var(--akka-yellow-dkr);
  font-weight: 700;
}

[data-theme='dark'] ::marker {
  color: var(--akka-yellow);
}

.theme-admonition-note {
  border-color: var(--akka-yellow-dkr);
  background-color: var(--akka-soft-white);
}

[data-theme='dark'] .theme-admonition-note {
  border-color: var(--akka-yellow);
  background-color: var(--akka-soft-medium-black);
}

a.card {
  background-color: var(--akka-soft-white);
  border-color: var(--akka-soft-white);
  box-shadow: none;
}

a.card:hover {
  border-color: var(--akka-blue);
  box-shadow: none;
}

a.card h2 {
  color: var(--akka-yellow-dkr);
}

[data-theme='dark'] a.card {
  background-color: var(--akka-soft-medium-black);
  border-color: var(--akka-soft-black);
  box-shadow: none;
}

[data-theme='dark'] a.card:hover {
  border-color: var(--akka-blue);
}

[data-theme='dark'] a.card h2 {
  color: var(--akka-yellow);
}